.chat-right{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .mark{
    width: 0;
    height: 0;
    position: absolute;
    right: 56px;
    top: 25px;
    border-left: 8px solid #1b76ed;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .chat-text{
    max-width: 291px;
    margin-right: 10px;
    padding: 16px 20px 16px 16px;
    background-color: #1b76ed;
    border-radius: 3px;
    p{
      margin: 0;
      font-family: Avenir-Roman, serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #fff;
    }
  }
  .chat-avatar{
    padding: 7px;
  }
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.date-right{
  display: flex;
  justify-content: right;
  p{
    margin-top: 5px;
    margin-right: 65px;
    font-family: Avenir-Roman, serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #939393;
  }
}


.chat-left{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  .mark{
    width: 0;
    height: 0;
    position: absolute;
    left: 56px;
    top: 25px;
    border-right: 8px solid #ffffff;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .chat-text{
    max-width: 291px;
    margin-left: 10px;
    padding: 16px 20px 16px 16px;
    background-color: #1b76ed;
    border-radius: 3px;
    font-family: Avenir-Roman, serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #fff;
  }
  .chat-avatar{
    padding: 7px;
  }
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.date-left{
  display: flex;
  justify-content: left;
  p{
    margin-top: 5px;
    margin-left: 65px;
    font-family: Avenir-Roman, serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #939393;
  }
}


.chat-right-file{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  .file{
    margin-right: 10px;
    img{
      width: 120px;
      height: auto;
      border-radius: 4px;
    }
  }
  .chat-avatar{
    padding: 7px;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .options{
    width: 30%;
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      justify-content: right;
      padding-right: 13px;
      .name-of-file-right{
        height: 10px;
        display: inline-block;
        text-align: right;
        font-family: Avenir, serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #000;
      }
      .download-file-right{
        text-align: right;
        display: inline-block;
        font-family: Avenir, serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #1b76ed;
      }
    }

  }
}

.chat-right-file{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  .file{
    margin-right: 10px;
    img{
      width: 120px;
      height: auto;
      border-radius: 4px;
    }
  }
  .chat-avatar{
    padding: 7px;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .options{
    width: 30%;
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      justify-content: right;
      padding-right: 13px;
      .name-of-file-right{
        height: 10px;
        display: inline-block;
        text-align: right;
        font-family: Avenir, serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #000;
      }
      .download-file-right{
        text-align: right;
        display: inline-block;
        font-family: Avenir, serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #1b76ed;
      }
    }
  }
}
.date-file-right{
  display: flex;
  justify-content: right;
  p{
    margin-top: 2px;
    margin-right: 132px;
    font-family: Avenir-Roman, serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #939393;
  }
}

.chat-left-file{
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  .chat-avatar{
    padding: 7px;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .file{
    margin-left: 10px;
    img{
      width: 120px;
      height: auto;
      border-radius: 4px;
    }
  }
  .options{
    width: 30%;
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      justify-content: left;
      padding-left: 13px;
      .name-of-file-left{
        height: 10px;
        display: inline-block;
        text-align: right;
        font-family: Avenir, serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #000;
      }
      .download-file-left{
        text-align: right;
        display: inline-block;
        font-family: Avenir, serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #1b76ed;
      }
    }
  }
}
.date-file-left{
  display: flex;
  justify-content: left;
  p{
    margin-top: 2px;
    margin-left: 132px;
    font-family: Avenir-Roman, serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #939393;
  }
}










//.chat-container {
//  position: relative;
//  padding: 1rem;
//}
//.date-right{
//  font-family: Avenir-Roman, serif;
//  font-size: 11px;
//  font-weight: normal;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: 1.25;
//  letter-spacing: normal;
//  color: #939393;
//  display: flex;
//  justify-content: right;
//  padding-right: 68px;
//  p{
//    margin-top: 8px;
//
//  }
//}
//.date-left{
//  font-family: Avenir-Roman, serif;
//  font-size: 11px;
//  font-weight: normal;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: 1.25;
//  letter-spacing: normal;
//  color: #939393;
//  display: flex;
//  justify-content: left;
//  padding-left: 68px;
//  p{
//    margin-top: 8px;
//
//  }
//}
//
//.chat-container div.chat-left,
//.chat-container div.chat-right {
//  display: flex;
//  flex: 1;
//  flex-direction: row;
//  align-items: center;
//
//}
//
//.chat-container div img {
//  width: 48px;
//  height: 48px;
//  -webkit-border-radius: 30px;
//  -moz-border-radius: 30px;
//  border-radius: 30px;
//}
//
//.chat-container div .chat-avatar {
//  margin-right: 20px;
//}
//
//.chat-container div.chat-right {
//  justify-content: flex-end;
//}
//
//.chat-container div.chat-right > .chat-avatar {
//  margin-left: 20px;
//  margin-right: 0;
//}
//
//.chat-container div .chat-name {
//  font-size: .75rem;
//  color: #999999;
//  text-align: center;
//}
//
//.chat-container div .chat-text {
//  border-radius: 4px;
//  position: relative;
//  max-width: 75%;
//  padding: 16px 20px 16px 16px;
//  font-family: Avenir-Roman, serif;
//  font-size: 14px;
//  font-weight: normal;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: 1.43;
//  letter-spacing: normal;
//  color: #fff;
//}
//
//.chat-container div.chat-left > .chat-text:before {
//  content: '';
//  position: absolute;
//  width: 0;
//  height: 0;
//  top: calc(50% - 4px);
//  left: -7px;
//  border-right: 12px solid #ffffff;
//  border-bottom: 4px solid transparent;
//  border-top: 4px solid transparent;
//}
//.name-of-file-left{
//  margin: 14px 0 4px 13px;
//  font-family: Avenir, serif;
//  font-size: 14px;
//  font-weight: normal;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: 1.29;
//  letter-spacing: normal;
//  color: #000;
//}
//.download-file-left{
//  margin: 4px 18px 38px 13px;
//  font-family: Avenir, serif;
//  font-size: 14px;
//  font-weight: normal;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: 1.29;
//  letter-spacing: normal;
//  color: #1b76ed;
//}
//
//.chat-container div.chat-right > .chat-text {
//  text-align: left;
//  padding: 16px 20px 16px 16px;
//  color: white;
//
//}
//
//.chat-container div.chat-right > .chat-text:before {
//  content: '';
//  position: absolute;
//  width: 0;
//  height: 0;
//  top: calc(50% - 4px);
//  right: -7px;
//  border-left: 9px solid #1b76ed;
//  border-bottom: 4px solid transparent;
//  border-top: 4px solid transparent;
//}
//
//.chat-container div .chat-hour {
//  padding: 0;
//  font-size: .75rem;
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: center;
//  margin: 0 0 0 15px;
//}
//
//.chat-container div .chat-hour > span {
//  font-size: 16px;
//  color: #9ec94a;
//}
//
//.chat-container div.chat-right > .chat-hour {
//  margin: 0 15px 0 0;
//}
//
