.input-label{
  margin-left: 10px;
  color: grey;
  font-size: 11px;
  &.error{
    color: red
  }
}
.input-field{
  width: 258px;
  height: 35px;
  padding-left: 10px;
  background: transparent;
  border: 1px solid #AAA8A8;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 3px 0;
  &.error{
    border: 1px solid #ff0000;
  }
  &:focus{
    outline: none;
  }
}