.teams{
  .teams-list-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    p{
      padding: 6px 0 6px 32px;
      color: white;
    }
    button{
      cursor: pointer;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px solid #737679;
      background-color: transparent;
      text-align: center;
      svg{
        color: white;
        width: 12px;
        height: 12px;
      }
    }
  }
  .teams-list{
    list-style-type:none;
    padding: 0;
    margin: 0;
    li{
      cursor: pointer;
      height: 20px;
      display: flex;
      justify-content: space-between;
      margin: 9px 0 9px;
      padding: 6px 24px 6px 32px;
      color: #5f6773;
      align-items: center;
      p{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
      }
    }
  }


}

